<% layout("/layouts/boilerplate")  %>

<div id="app" class="container-fluid ">
    <div id="authContainer" class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h1 class="card-title text-center mb-4" id="authTitle">Login</h1>
                    <form action="/api/auth/login" method="POST" id="authForm" class="needs-validation"  >
                        <div class="mb-3">
                            <label for="email" class="form-label"></label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label"></label>
                            <input type="password"  name="password" class="form-control" id="password" placeholder="Password" required>

                        </div>
                        <button type="submit" class="btn btn-primary w-100" id="authButton">Login</button>

                    </form>
                    <p class="text-center mt-3">
                        <a href="/api/auth/signup" id="toggleAuth">Don't have an account? Signup</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

