.add-friend-modal {
  display: flex;
  align-items: center;
  height: 90px;
  gap: 0.25rem;
  padding: 0.2;
  margin-bottom: 0.75rem;
  cursor: pointer;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.24);
  border-radius: 14px;
  background-color: #2c2c2c;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.friend-info-container {
  display: flex;
  flex: 1;
  margin-left: 0.95rem;
  justify-content: space-between;
}

.friend-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.friend-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}

.friend-name,
.friend-email {
  flex: 1;
  display: flex;
  align-items: center;
}

.friend-name {
  color: var(--text-primary);
  font-size: 1rem;
}

.friend-email {
  font-size: 0.65rem;
  color: var(--text-secondary);
}

.add-friend-btn {
  font-size: 0.75rem;
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 0.75rem 1rem;
  border-radius: 10px;
}
